*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "main"
    "nav"
    "footer"
    ;
}
nav{
    color: white;
}

.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.2em;
    display: none;
}


nav ul{
   display: flex;
   justify-content: space-around;
   background-color: white ;
   min-height: 2em;
   align-items: center;
   

}


nav ul li{
    list-style: none;
    color:white;
    cursor: pointer;
    text-decoration: none;
    ;
}

nav ul li a{
    text-decoration: none;
}
header{
    height: 100vh;
    width: 100%;
    background-color:rgba(123, 13, 166, 0.673) ;
    text-align: center;
    grid-area: header;
}

.bg-img {
    max-height: 100%;
    max-width: 100%;
}

.bg1 h1 {
    padding-bottom: 1em;
}

footer ul{
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: hotpink;
    min-height: 2em;
    align-items: center;
    grid-area: footer;
}

footer ul li{
    list-style: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

main{
    background-image: url("https://wallpaperswide.com/download/space_aesthetic-wallpaper-3000x2000.jpg");
    min-height: 91vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: x-large;
    grid-area: main;
}

footer {
    position: relative; 
    bottom: 0;
    width: 100%;
    grid-area: footer;
    
}

footer ul li a{
    text-decoration: none;
}







.form {
/*     margin: 6em auto;
 */    width: 20em;
    background-color: rgba(225, 150, 255, 0.673);
    border: 2px solid #9d00e0;
    border-radius: 0.5em;
    padding: 1em;
    font-family: var(--font2);
}



input, textarea {
    padding: 0.9em ;
    width: 30vw;
    border: none;
    border-radius: 0.4em;
    display: block;
    margin: 0.5em auto;
}


.main form  div input[type = "submit"] {
    padding: 0.35em;
    border-radius: 15px;
    background-color: var(--text);
    color: black;
    font-size: 1em;
    width: 7em;
    margin: 0.5em auto;
    border: 0;
}

.project p{
    font-size: 0.8em;
    padding: 1em;
}


.project-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 20vw;
    margin-right: 20vw;
    column-gap: 1em;
    row-gap: 1em;
    margin-bottom: 10vh;
    
}

.project{
    border: 2px solid #141438;
    background-color:rgba(123, 13, 166, 0.673) ;
    border-radius: 5px;

}

.bg1{
    background-color: white;
    width:60vw;
    margin: 4em auto;
    padding: 10%;
    display: block;
    text-align: justify;
    color: black;
}

.project-title{
    margin: auto;
    padding-bottom: 0.3em;
}

.project-title img{
    border-radius: 0.5em;

}


div{
    text-align: center;
}

nav li:hover {
    border-bottom: 2px solid red;
    transition: 0.2s;
}
.projects{
    padding: 2em;
}

.nav_title ul li > a {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    padding: 10%;
}

.footer ul li > a {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    padding: 10%;
    color: white;
}